@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap");

body {
	background-color: #3d4451;
	font-family: "Inter", sans-serif;
}

.swal-modal {
	.swal-title,
	.swal-text {
		color: #fff;
	}
	.swal-button {
		&:hover {
			background-color: darken(#3d4451, 11%);
		}
		outline: none;
		border: none;
		box-shadow: none;
		background-color: darken(#3d4451, 7%);
	}
	background-color: #3d4451;
}

#nprogress {
	.spinner-icon {
		display: none;
	}
	.bar {
		background: #fff !important;
	}
}
